@media all and (max-width: 768px) {
    /* ---------------------------------- */
    /* Animation du trait bleu au :hover */
    /* ---------------------------------- */
    .nav::after {
        -o-transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }
    
    .nav {
        -o-transition: color 500ms ease-in-out;
        -webkit-transition: color 500ms ease-in-out;
        transition: color 500ms ease-in-out;
    }

    .nav:hover::after {
        border-top: none;
        border-bottom: 3px solid var(--blue);
        right: 0;
        left: 0;
    }

    .nav:hover {
        color: var(--blue);
    }
    /* ---------------------------------- */
}
