/* ------------------ */
/* Classes injectées */
/* ------------------ */
.blue {
    color: var(--blue);
}

.grey {
    color: var(--medium_grey);
}

.bold {
    font-weight: bold;
}
/* ------------------ */