/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    /* Pour que 1rem soit équivalent à 10px sur toute la page */
    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
}

#container,
.bloc-page,
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#container {
    gap: 5rem;
}

.bloc-page,
main {
    gap: 3rem;
}

.bloc-page {
    width: 93%;
    margin: auto;
}

a {
    color: black;
}
